{% extends 'barreviews/base.html' %}
{% block content %}
<h1>All Bars - {{ bars.count }}</h1>
{% if bars %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Website</th>
        </tr>
    </thead>
    <tbody>
        {% for bar in bars %}
        <tr>
            <td><a href="{% url 'barreviews:bar' bar.id %}">{{ bar.name }}</a></td>
            <td>{{ bar.address }}</td>
            <td><a href="{{ bar.website }}">{{ bar.website }}</a></td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No bars are available.</p>
{% endif %}
{% endblock %}
