{% extends 'barreviews/base.html' %}
{% block content %}
    <h1>{{ brewery }} Brewery</h1>
<p>
<a href="{% url 'barreviews:brewery_edit' brewery.id %}">Edit Brewery</a>
</p>
<p>
<a href="{% url 'barreviews:brewery_delete' brewery.id %}">Delete Brewery</a>
</p>

<h3>Drinks - {{ brewery.drink_set.all.count }}</h3>
{% if brewery.drink_set.all %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Drink</th>
        </tr>
    </thead>
    <tbody>
        {% for d in brewery.drink_set.all %}
        <tr>
            <td><a href="{% url 'barreviews:drink' d.id %}">{{ d.name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No drinks are available.</p>
{% endif %}

{% endblock %}
