{% extends 'barreviews/base.html' %}
{% block content %}
<h1>All Drinks</h1>
{% if drinks %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Brewery</th>
            <th>Link</th>
            <th>Edit Drink</th>
            <th>Delete Drink</th>
        </tr>
    </thead>
    <tbody>
        {% for drink in drinks %}
        <tr>
            <td>{{ drink.name }}</td>
            <td>{{ drink.dType }}</td>
            <td>{{ drink.brewery }}</td>
            <td><a href="{% url 'barreviews:drink' drink.id %}">Link</a></td>
            <td><a href="{% url 'barreviews:drink_edit' drink.id %}">Edit</a></td>
            <td><a href="{% url 'barreviews:drink_delete' drink.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No drinks are available.</p>
{% endif %}
{% endblock %}
