{% extends 'barreviews/base.html' %}
{% block content %}
    <h1>{{ drink }}</h1>
    <p>
        <strong>Type:</strong> {{ drink.dType }}
    </p>
    <p>
        <strong>Brewery:</strong> {{ drink.brewery }}
    </p>
{% if user.is_active %}
<p>
<a href="{% url 'barreviews:drink_like' drink.id %}">Like</a>
</p>
<p>
<a href="{% url 'barreviews:drink_unlike' drink.id %}">Unlike</a>
</p>
{% endif %}
{% if user.is_staff %}
<p>
<a href="{% url 'barreviews:drink_edit' drink.id %}">Edit Drink</a>
</p>
<p>
<a href="{% url 'barreviews:drink_delete' drink.id %}">Delete Drink</a>
</p>
{% endif %}

<h3>Likes - {{ drink.likesbeer_set.all.count }}</h3>
{% if drink.likesbeer_set.all %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Users who like this</th>
        </tr>
    </thead>
    <tbody>
        {% for l in drink.likesbeer_set.all %}
        <tr>
            <td><a href="{% url 'barreviews:user' l.user.id %}">{{ l.user.username }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No users have liked this beer.</p>
{% endif %}

{% endblock %}
