{% extends 'barreviews/base.html' %}
{% block content %}
<h1>Beer Club</h1>
<p>Welcome to Beer_Club.com, a place for bar and drink enthusiasts to dwell in a sea of appetite and appraisal!</p>
<p>View the various bars, drinks and reviews in our database by using the navigation bar!</p>
<p>You can also view other users and their interests in the world of bars and brews. Comment on a users page to share a laugh, or to let them know that their 1-star review of Little Creatures is obviously flawed!</p>
<img src="{{ MEDIA_URL }}beer.png">
{% endblock %}
