{% extends 'barreviews/base.html' %}
{% block content %}
    <h1>Review: {{ review }}</h1>
    <p>
        <strong>Review By:</strong> {{ review.user.username }}
    </p>
    <p>
        <strong>Review Date:</strong> {{ review.date }}
    </p>
    <p>
        <strong>Rating:</strong> {{ review.rating }}
    </p>
    <p>
        <strong>Comment:</strong> {{ review.comment|default:"" }}
    </p>
<p>
<a href="{% url 'barreviews:review_edit' review.id %}">Edit Review</a>
</p>
<p>
<a href="{% url 'barreviews:review_delete' review.id %}">Delete Review</a>
</p>
{% endblock %}
