{% extends 'barreviews/base.html' %}
{% block content %}
<h1>All Reviews - {{ reviews.count }}</h1>
{% if reviews %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Review By</th>
            <th>Bar</th>
            <th>Date</th>
            <th>Rating</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        <tr>
            <td><a href="{% url 'barreviews:user' review.user.id %}">{{ review.user.username }}</a></td>
            <td><a href="{% url 'barreviews:bar' review.bar.id %}">{{ review.bar.name }}</a></td>
            <td>{{ review.date }}</td>
            <td>{{ review.rating }}</td>
            {% if review.id %}
            <td><a href="{% url 'barreviews:review' review.id %}">Link</a></td>
            {% else %}
            <td><a href="{% url 'barreviews:review' 1 %}">Link</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No reviews are available.</p>
{% endif %}
{% endblock %}
