{% extends 'barreviews/base.html' %}
{% block content %}
<h1>All Reviews</h1>
{% if reviews %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Review By</th>
            <th>Date</th>
            <th>Rating</th>
            <th>Link</th>
            <th>Edit Review</th>
            <th>Delete Review</th>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        <tr>
            <td>{{ review.user.username }}</td>
            <td>{{ review.date }}</td>
            <td>{{ review.rating }}</td>
            <td><a href="{% url 'barreviews:review' review.id %}">Link</a></td>
            <td><a href="{% url 'barreviews:review_edit' review.id %}">Edit</a></td>
            <td><a href="{% url 'barreviews:review_delete' review.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No reviews are available.</p>
{% endif %}
{% endblock %}
