{% extends 'barreviews/base.html' %}
{% block content %}
<h1>All Reviews</h1>
{% if reviews %}
<table class="table table-striped">
    <thead>
        <tr>
            <!--User Attributes
            <th>Time</th>
            <th>Car</th>
            <th>Driver</th>
            <th>Episode</th>
            <th>Conditions</th>
            <th>Comment</th>-->
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        <tr>
            <!--User Attributes
            <td>{{ lap.time_str }}</td>
            <td>{{ lap.car }}</td>
            <td>{{ lap.driver }}</td>
            <td>{{ lap.episode }}</td>
            <td>{{ lap.condition }}</td>
            <td>{{ lap.comment }}</td>-->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No reviews are available.</p>
{% endif %}
{% endblock %}