{% extends 'barreviews/base.html' %}
{% block content %}
    <h1>{{ review }}</h1>
    <p>
        <strong>Review Date:</strong> {{ review.date }}
    </p>
    <p>
        <strong>Rating:</strong> {{ review.rating }}
    </p>
    <p>
        <strong>Comment:</strong> {{ review.comment|default:"" }}
    </p>
{% if user == review.user or user.is_staff %}
<p>
<a href="{% url 'barreviews:review_edit' review.id %}">Edit Review</a>
</p>
<p>
<a href="{% url 'barreviews:review_delete' review.id %}">Delete Review</a>
</p>
{% endif %}
{% endblock %}
