{% extends 'barreviews/base.html' %}
{% block content %}
    <h1>User: {{ user }}</h1>
    <p>
        <strong>Username:</strong> {{ user.username }}
    </p>
    <p>
        <strong>First Name:</strong> {{ user.first_name }}
    </p>
    <p>
        <strong>Last Name:</strong> {{ user.last_name }}
    </p>
    <p>
        <strong>Email:</strong> {{ user.email }}
    </p>
    <p>
        <strong>Date Joined:</strong> {{ user.date_joined }}
    </p>
    <p>
        <strong>User Type:</strong> {{ user.is_staff }}
    </p>
<p>
<a href="{% url 'barreviews:user_edit' user.id %}">Edit User</a>
</p>
<p>
<a href="{% url 'barreviews:user_delete' user.id %}">Delete User</a>
</p>
{% endblock %}
