{% extends 'barreviews/base.html' %}
{% block content %}
    <h1>User: {{ User }}</h1>
    <p>
        <strong>Username:</strong> {{ user.username }}
    </p>
    <p>
        <strong>First Name:</strong> {{ user.fname }}
    </p>
    <p>
        <strong>Last Name:</strong> {{ user.lname }}
    </p>
    <p>
        <strong>Email:</strong> {{ user.email }}
    </p>
    <p>
        <strong>Date Joined:</strong> {{ user.register_date }}
    </p>
    <p>
        <strong>User Type:</strong> {{ user.type }}
    </p>
<p>
<a href="{% url 'barreviews:user_edit' user.id %}">Edit User</a>
</p>
<p>
<a href="{% url 'barreviews:user_delete' user.id %}">Delete User</a>
</p>
{% endblock %}
